@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-background: #121212;
  --color-background-secondary: #2c2c2c;
  --color-button-primary: #ffc257;
  --color-button-font: #121212;
  --color-font: #fff;
  --font-family: "Roboto", sans-serif;
  --font-weight-regular: "regular";
  --font-weight-medium: "medium";
  --font-weight-black: "black";
  --font-size-regular: 1.5rem;
  --font-size-medium: 2rem;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-regular);
}

p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}
